#root {
   max-width: 100%;
   width: 100%;
   min-height: 80svh;
   height: fit-content;
}
* {
   margin: 0;
   padding: 0;
   -webkit-text-stroke: 0.2px;
   text-align: center;
   list-style: none;
   text-decoration: none;
   box-sizing: border-box;

   font-family: "Montserrat", sans-serif;
   font-optical-sizing: auto;
}
