@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
:root {
   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
   line-height: 1.5;
   font-weight: 400;

   color-scheme: light;

   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

   /* Variables */
   --jd-padding-xs: 5px;
   --jd-padding-s: 10px;
   --jd-padding-m: 15px;
   --jd-padding-l: 20px;
   --jd-padding-xl: 30px;
   --jd-padding-xll: 40px;

   --jd-margin-xs: 5px;
   --jd-margin-s: 10px;
   --jd-margin-m: 15px;
   --jd-margin-l: 20px;
   --jd-margin-xl: 30px;
   --jd-margin-xll: 40px;

   --jd-gap-xs: 5px;
   --jd-gap-s: 10px;
   --jd-gap-m: 15px;
   --jd-gap-l: 20px;
   --jd-gap-xl: 30px;
   --jd-gap-xll: 40px;

   /*  bgColor*/
   --jd-bg-none: transparent;
}
